*__pycache__*
build/*
dist/*
OpenBLAS-v*
playground/*
wayground/*
larch_test_osx.sh
win/*
*.obj
*.o
*.xcodeproj*
*.so
LarchTest.app/*
build/lib.macosx-10.6-intel-3.4/larch/libelmsqlite.so
build/lib.macosx-10.6-intel-3.4/larch/apsw.so
build/lib.macosx-10.6-intel-3.5/larch/libelmsqlite.so
build/lib.macosx-10.6-intel-3.5/larch/apsw.so
Larch.xcodeproj/xcuserdata/jpn.xcuserdatad/xcschemes/xcschememanagement.plist
larch.egg-info*
wheelhouse*
Icon
*.graffle
src/larch.py

local/*

src/sandbox/sandbox.py

py/version/__init__.py

elm_swig_external.h

src/swig/elmcore_wrap.cpp

src/swig/elmcore_wrap.h

src/.DS_Store

.DS_Store

**.ipynb_checkpoints
pingpong*.bat
gemm.c
.idea/**/workspace.xml
v4/.idea/**/workspace.xml
v4/.idea/**/tasks.xml
gemv.c
nl_utility.c
elementwise.c
nl_prob.c
lastfailed
v4/cython_debug
vcs.xml
sandbook.ipynb
*.c
cython_debug
doc/.doctrees
larch4.egg-info
larch/model/*.html
larch/**/*.html
