# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: "v5.7.0"
author: Jeffrey Newman
logo: img/larch-logo.png

# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  execute_notebooks: cache
  allow_errors: true
  timeout: 300 # 5 minutes per cell

# Define the name of the latex output file for PDF builds
#latex:
#  latex_documents:
#    targetname: book.tex

# Add a bibtex file so that we can create citations
bibtex_bibfiles:
- references.bib

# Information about where the book exists on the web
repository:
  url: https://github.com/jpn--/larch  # Online location of your book
  path_to_book: doc  # Optional path to your book, relative to the repository root
  branch: master  # Which branch of the repository should be used when creating links (optional)

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  favicon: img/larch_favicon.png
  use_issues_button: true
  use_repository_button: true

sphinx:
  extra_extensions:
  - sphinx.ext.autodoc
  - sphinx.ext.autosummary
  - sphinx.ext.napoleon
  - sphinx.ext.mathjax
  - sphinx.ext.intersphinx
  - sphinx.ext.doctest
  - sphinx.ext.graphviz
  - sphinx.ext.viewcode
  mathjax_config:
    TeX:
      Macros:
        N: \mathbb{N}
        floor: [\lfloor#1\rfloor, 1]
        bmat: ['\left[\begin{array}']
        emat: ['\end{array}\right]']
  latex_elements:
    preamble: |
      \newcommand\N{\mathbb{N}}
      \newcommand\floor[1]{\lfloor#1\rfloor}
      \newcommand{\bmat}{\left[\begin{array}}
      \newcommand{\emat}{\end{array}\right]}
  intersphinx_mapping:
    pandas:
    - http://pandas.pydata.org/pandas-docs/stable/
    -
    sklearn:
    - https://scikit-learn.org/stable/
    -
    networkx:
    - https://networkx.github.io/documentation/latest/
    -
    conda:
    - https://docs.conda.io/projects/conda/en/latest/
    -
    xarray:
    - https://xarray.pydata.org/en/stable/
    -
  config:
    bibtex_reference_style: author_year
    autosummary_generate: true
    autodoc_default_options:
      show-inheritance: true
    add_module_names: false
    napoleon_use_rtype: false
    rst_epilog: |
      .. |idca| replace:: :ref:`idca <idca>`
      .. |idco| replace:: :ref:`idco <idco>`
    html_theme_options:
      home_page_in_toc: false
      search_bar_text: Search these docs...
      repository_url: https://github.com/jpn--/larch
      use_repository_button: true
      use_issues_button: true
      repository_branch: master
      path_to_docs: docs
      extra_navbar:
      favicons:
      - rel: icon
        sizes: 32x32
        href: img/larch_favicon.png
      switcher:
        json_url: https://larch.newman.me/_static/switcher.json
        url_template: https://larch.newman.me/v{version}/
        version_match: 5.7.0
      navbar_end:
      - version-switcher
